@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <p><a href="/">Chefs</a> | <a href="dishes">Dishes</a></p>
    </div>
    <div class="col"><a href="/dishes/new">Add a Dish</a></div>
</div>
<div class="row">
    <p>Yum, take a look at our tasty dishes!</p>
    <hr>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
        </tbody>
    </table>
</div>


